<!DOCTYPE html>
<head>
	<title>Register</title>
	<meta charset="utf-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <style>
		.errorMessage {
			color: red;
		}
    </style>
</head>
<body>

	 <header>
		 <div class="">
              <h2>Amalgam</h2>
         </div>
     </header>

    <div class="container">

		<form action="/register" method="post">
			<div class="form-row">
				<h4>User Registration</h4>
			</div>
			<div class="form-row">
			    <div class="form-group col-4">
			      	<label for="name">Full Name*</label>
			      	<input type="text" class="form-control" name="name" id="name" placeholder="Full Name" required>
			    </div>
			</div>
			<div class="form-row ">
				<div class="form-group col-4">
		            <label for="email">Email*</label>
		            <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
		        </div>
			</div>
			<div class="form-group">
			    <button type="submit" class="btn btn-outline-success btn-sm" >Submit</button>
			</div>
			{% if message %}
			<div class="form-group">
				<p class="errorMessage">{{ message }}</p>
			</div>
			{% endif %}
		</form>

	 </div>

	 <script src="../static/js/jquery.min.js"></script>
	 <script src="../static/js/bootstrap.min.js"></script>

</body>
</html>
