<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
	<style type="text/css">
		table{
			width: 100%;
		}
		tr{
			 border: 1px solid #dddddd;
		}
		td, th {
		   
		    text-align: left;
		    padding: 8px;
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">></script>
</head>
<body>
	<div class="tableContainer">
				<table>
					<tbody>
						<tr>
							<th>Ques Id</th>
							<th>Question</th>
							<th>Correct Answer</th>
							<th>Level</th>
							<th>Question Type</th>
							<th>Skill type</th>
							<th>Tags</th>
							<th>Action</th>
						</tr>
					</tbody>
				</table>		
				
				<div class="tableContent">
				<table>
				{% for question in questions: %}
					<tr class="question">
						<td contenteditable="false" showData="{{question[0]}}" >{{ question[0]}}</td>
						<td contenteditable="false" showData="{{question[2]}}">{{ question[2]}}</td>
						<td contenteditable="false" showData="{{question[4]}}">{{question[4]}}</td> 
						<td contenteditable="false" backData="{{question[5]}}" showData="" class='questionLevel'></td>
						<td contenteditable="false" backData="{{question[6]}}" showData="" class='quesType'></td> 
						<td contenteditable="false" backData="{{question[7]}}" showData="" class='skillType'></td>
						<td contenteditable="false" showData="{{question[8]}}" >{{ question[8] }}</td>
						<td>
							<button class="editButton" data-state="edit">edit</button>
						</td>               
					</tr>
							
					{% for option in question[3].split(','): %}
						<tr class='option'>
							<td></td>
							<td showData="{{option.strip('[] ')}}" >{{option.strip('[]" ')}}</td>
						</tr>	
					{% endfor %}			
				{% endfor %}
				</table>	
				</div>
	</div>

	<script type="text/javascript">
		function getLevel(level){
			dict={1:"Easy",2:"Medium",3:"Hard"};
			return dict[level];
		}

		function getQuesType(type){
				dict={1:'Single Choice', 2:'Multiple Choice', 3:'Essay',4:'Short Answer'};
				return dict[type];
			}

		function getSkillType(skill){
			dict={1:'Logical', 2:'GK', 3:'Reasoning', 4:'Theory',5:'Numerical'};
			return dict[skill];
		}

		function getIndex(index){
			dict={0:"quesId",1:"question",2:"correctAnswer",3:"level",4:"questionType",5:"skillType",6:"tags"};
			return dict[index];
		}

		function getData(index,temp){

			var temp1=temp.toLowerCase()

			if(index==0){
				return parseInt(temp);
			}
			else if(index==3){
				var dict={"easy":1,"medium":2,"hard":3};
				return dict[temp1];
			}
			else if(index==4){
				var dict={'single choice':1, 'multiple choice':2,'essay':3,'short answer':4};
				return dict[temp1];
			}
			else if(index==5){
				var dict={'logical':1,'gk':2,'reasoning':3,'theory':4,'numerical':5};
				return dict[temp1];
			}
			else{
				return temp;
			}

		}

		window.onload = function() {
			document.querySelectorAll(".questionLevel").forEach( function(el) {
				var difficulty = el.getAttribute('backData');
				var temp =getLevel(difficulty);
				el.setAttribute("showData",temp);
				el.innerHTML = temp;
			});

			document.querySelectorAll(".skillType").forEach( function(el) {
				var skill = el.getAttribute('backData');
				var temp=getSkillType(skill);
				el.setAttribute('showData',temp);
				el.innerHTML = temp;
			});

			document.querySelectorAll(".quesType").forEach( function(el) {
				var type = el.getAttribute('backData')
				var temp=getQuesType(type);
				el.setAttribute('showData',temp);
				el.innerHTML = temp;
			});
		}

		//$(document).ready(function(){ 
			$('.editButton').click(function(){
				//var _this = $(this);
				// console.log($(this).attr('data-state'));
				if( $(this).attr('data-state') == 'save'){

					var ob={};
					var question =$(this).parent().siblings();
					//var options =$(this).parents('tr').next().children('td');
					//console.log(question);
					$.each(question,function(index,currentTd){	
						if(index!=7 /*&& currentTd.getAttribute('showData')!=currentTd.innerHTML*/){
							ob[getIndex(index)]=getData(index,currentTd.innerHTML);
						}
					});
					
					var li="[";
					$(this).closest('.question').nextUntil('.question').each(function(index,elem) {
					  var ele = $(elem).find('td[showdata]')
					  
					  li=li+'"'+ele[0].innerHTML+'",'		
					});
					li=li.substring(0,li.length-1)+']'

					console.log(li);
					ob['options']=li;
					
					$.ajax({
					    url: '/ajaxReceive',
					    type: 'POST',
					    data: JSON.stringify(ob),
					    contentType: 'application/json; charset=utf-8',
					    dataType: 'json',
					    async: false,
					    beforeSend:function() {
					    	console.log("Did the ajax even initialize?");
					    },
					    success: function(msg) {
					        console.log(msg['status']);;
					    },
					    error:function() {
					    	console.log('fail');
					    },
					    complete:function() {
					    	console.log("completed");
					    }
					});
					
					var currentTD = $(this).parent().siblings();
					$.each(currentTD, function () {
					      $(this).prop('contenteditable', false)
					  });

					$(this).closest('.question').nextUntil('.question').each(function(index,elem) {
					  $(elem).find('td[showdata]').prop('contenteditable','false');
					});

					$(this).attr('data-state', $(this).attr('data-state') == 'edit' ? 'save' : 'edit');
			        $(this).text( $(this).attr('data-state') /*== 'edit' ? 'save' : 'edit'*/);
				console.log(ob);
				}
				else {
	          	    var currentTD = $(this).parent().siblings();
	          	    //console.log(currentTD);
	          	    $.each(currentTD, function () {
					      $(this).prop('contenteditable', true)
					  });

					// if ($(this).data('state') == 'edit') {   
					//   $.each(currentTD, function () {
					//       $(this).prop('contenteditable', true)
					//   });
					// } else {
					//  $.each(currentTD, function () {
					//       $(this).prop('contenteditable', false)
					//   });
					// }

					//Set ContentEditable on Option TRs
					$(this).closest('.question').nextUntil('.question').each(function(index,elem) {
					  $(elem).find('td[showdata]').prop('contenteditable','true');
					});

		          $(this).attr('data-state', $(this).attr('data-state') == 'edit' ? 'save' : 'edit');
		          $(this).text( $(this).attr('data-state') /*== 'edit' ? 'save' : 'edit'*/);

				}
			});
		//});		
	</script>

	<style>
		td[contenteditable='true'] {
			border:1px solid #bababa;
		}
	</style>
</body>
</html>